h2 {
  height: 20vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  color: white;
  background-image: linear-gradient(141deg, #009e6c 0%, #00d1b2 71%, #00e7eb 100%);
}