.temp {
  text-align: center;
  background-color: #00d1b2;
  color: white;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: auto;
  margin-top: 30px;
}

/* Mobile */
@media (max-width: 767px) {
  .temp {
    width: 95%;
  }
}