main {
  display: flex;
  gap: 30px;
  padding: 10px;
}

.searchBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  outline: none;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  height: 35px;
  font-size: 18px;
}

input:focus {
  border: 1px solid #00d1b2;
}

ul {
  overflow-y: auto;
  max-height: 70vh;
  padding: 5px;
  border: 2px solid #eee;
  border-radius: 10px;
  margin-top: 3px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  color: #717171;
}
li:hover{
  background-color: #eee;
  color: black;
}
img {
  width: 60px;
  margin-right: 5px;
}
/* Mobile */
@media (max-width: 767px) {
  main {
    flex-direction: column;
  }
}