main {
  display: flex;
  gap: 30px;
  padding: 10px;
}

.searchBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  outline: none;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  height: 35px;
  font-size: 18px;
}

input:focus {
  border: 1px solid #00d1b2;
}

ul {
  overflow-y: auto;
  max-height: 70vh;
  padding: 5px;
  border: 2px solid #eee;
  border-radius: 10px;
  margin-top: 3px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  color: #717171;
}
li:hover{
  background-color: #eee;
  color: black;
}
ul img {
  width: 60px;
  margin-right: 5px;
}
/* Mobile */
@media (max-width: 767px) {
  main {
    flex-direction: column;
  }
}

.details img {
  width: 150px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.summary {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
  height: 260px;
}

.infotexts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #363636;
}

.otherInfo {
  background-color: #00d1b2;
  color: white;
  margin-bottom: 15px;
  padding: 10px;
  margin-left: 5px;
  border-radius: 5px;
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .summary p {
    display: none;
  }
  .details {
    font-size: 14px ;
  }
}